@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .vid-unactive {
    clip-path: circle(0% at 0 50%);
  }

  .vid-active {
    clip-path: circle(150% at 0 50%);
    transition: 0.8s ease;
  }

  .btn-unactive {
    background-color: white;
  }

  .btn-active {
    background-color: #2696e9;
  }

  .text-unactive {
    display: none;
  }

  .text-active {
    display: block;
  }

  /* text-white text-center text-[80px] max-[400px]:text-[60px] font-bold drop-shadow-lg font-serif tracking-0 */

  .header-text {
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    font-family: serif;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    -webkit-text-stroke: 3px;
    transition-duration: 1s;
  }

  @media screen and (max-width: 450px) {
    .header-text {
      font-size: 70px;
    }
  }

  @media screen and (max-width: 320px) {
    .header-text {
      font-size: 50px;
    }
  }

  /* text-center text-white font-serif text-[30px] */

  .learn-text {
    text-align: center;
    color: white;

    font-family: serif;
    font-size: 30px;
    transition-duration: 1s;
  }

  .learn-text:hover {
    scale: 1.2;
  }

  .learn-arrow {
    margin-left: 10px;
    font-size: 20px;
  }

  .tabs {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
  }

  .tabs__label {
    padding: 10px 16px;
    cursor: pointer;
    width: 38%;
    text-align: center;
    color: rgb(133, 133, 133);
  }

  .tabs__radio {
    display: none;
  }

  .tabs__content {
    order: 1;
    height: 70vh;
    width: 77%;
    /* border-bottom: 3px solid #dddddd; */
    line-height: 1.5;
    font-size: 0.9em;
    display: none;
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0)
    );
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 15px;
    padding: 20px;
    color: white;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .tabs__radio:checked + .tabs__label {
    font-weight: bold;
    color: white;
    border-bottom: 2px solid #009578;
    border-radius: 6px 6px 0px 0px;
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0)
    );
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  }

  .tabs__radio:checked + .tabs__label + .tabs__content {
    display: initial;
  }

  .timeline {
    margin: 1.5em auto;
    max-width: 34.15em;
  }

  .checkpoint {
    max-width: 30em;
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
  }

  .checkpoint .tl-content {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    border-width: 4px;
    border-style: solid;
    border-radius: 1em;
    padding: 1.5em;
    width: 380px;
    line-height: 27px;
    color: white;
  }

  .checkpoint h2 {
    margin-bottom: 0.5em;
  }

  .timeline .checkpoint:nth-child(odd) .tl-content {
    transform-origin: center left !important;
  }

  .timeline .checkpoint:nth-child(even) .tl-content {
    transform-origin: center right !important;
  }

  .checkpoint:nth-child(odd) {
    border-left: 3px solid white;
    padding-left: 3em;
    transform: translateX(14.7em);
  }

  .checkpoint:nth-child(even) {
    border-right: 3px solid white;
    padding-right: 3em;
    transform: translateX(-14.7em);
  }

  .checkpoint:nth-child(even)::before,
  .checkpoint:nth-child(odd)::before {
    content: "";
    background-color: white;
    width: 3em;
    height: 3px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .checkpoint:nth-child(even)::before {
    right: 0;
  }

  .checkpoint:nth-child(odd)::before {
    left: 0;
  }

  @media screen and (max-width: 1245px) {
    .timeline {
      width: 80vw;
    }

    .timeline .checkpoint {
      width: 100%;
      transform: none;
      padding-left: 0;
      padding-right: 0;
      border: none;
      display: flex;
      justify-content: center;
    }

    .timeline .checkpoint::before {
      width: 3px;
      height: 4em;
      top: -2em;
      left: 50%;
      transform: translateX(-50%);
    }

    .timeline .checkpoint div::before {
      top: -0.5em;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
  }
  .wrapper .carousel-arrow {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper .carousel-arrow:active {
    transform: translateY(-50%) scale(0.85);
  }
  .wrapper .carousel-arrow:first-child {
    left: -22px;
  }
  .wrapper .carousel-arrow:last-child {
    right: -22px;
  }
  .wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  .carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel .card {
    scroll-snap-align: start;
    /* height: 342px; */
    height: 200px;
    list-style: none;
    background: #fff;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    justify-content: start;
    align-items: start;
  }
  /* .carousel .card .img {
    background: #8b53ff;
    height: 148px;
    width: 148px;
    border-radius: 50%;
  } */
  .card .img img {
    /* width: 140px;
    height: 140px; */
    height: 80px;
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
  }
  .carousel .card h2 {
    font-weight: 500;
    /* font-size: 1.3rem; */
    font-size: 0.9rem;
    margin: 30px 0 5px;
  }
  .carousel .card span {
    margin-top: 12px;
    color: #6a6d78;
    font-size: 0.9rem;
    height: 80px;
  }
  @media screen and (max-width: 1150px) {
    .wrapper {
      max-width: 900px;
    }

    .wrapper .carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
  }

  @media screen and (max-width: 940px) {
    .wrapper {
      max-width: 600px;
    }

    .card .img img {
      display: none;
    }

    .carousel .card span {
      height: 110px;
    }
  }

  @media screen and (max-width: 650px) {
    .wrapper {
      max-width: 400px;
    }

    .wrapper .carousel {
      grid-auto-columns: 100%;
    }
  }

  @media screen and (max-width: 460px) {
    .wrapper {
      max-width: 300px;
    }

    .wrapper .carousel {
      grid-auto-columns: 100%;
    }
  }

  @media screen and (max-width: 350px) {
    .wrapper {
      max-width: 250px;
    }

    .wrapper .carousel {
      grid-auto-columns: 100%;
    }

    .carousel .card span {
      overflow-x: auto;
    }
  }

  .pic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #353535;
    font-size: 0rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
      rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    text-shadow: 0 5px 10px #0004;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;
    padding: 7px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    opacity: 0.7;
  }

  .pic:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em,
      rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
    font-size: 1.8rem;
    opacity: 1;
  }

  .photo-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(
      auto-fit,
      minmax(180px, 1fr)
    ); /* Adjust minmax value */
    grid-auto-rows: 180px; /* Adjust row height */
  }

  /* Medium screens */
  @media screen and (min-width: 600px) {
    .pic-tall {
      grid-row: span 2 / auto;
    }

    .pic-wide {
      grid-column: span 2 / auto;
    }
  }

  footer {
    background-color: #111;
    width: 100%;
  }
  .footerContainer {
    width: 100%;
    padding: 30px 30px 20px;
  }
  .socialIcons {
    display: flex;
    justify-content: center;
  }
  .socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: #111;
    margin: 10px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.5s;
  }
  .socialIcons a i {
    font-size: 1.7em;
    color: rgb(145, 145, 145);
    transition: 0.5s;
  }
  /* Hover affect on social media icon */
  .socialIcons a:hover {
    scale: 1.2;
    transition: 0.5s;
  }

  .socialIcons a:hover .discord {
    color: #5d6af2;
    transition: 0.5s;
  }

  .socialIcons a:hover .instagram {
    background: #f09433;
    background: -moz-linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    background: -webkit-linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    background: linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s;
  }

  .socialIcons a:hover .twitter {
    color: white;
    transition: 0.5s;
  }

  .socialIcons a:hover .youtube {
    color: #ff0808;
    transition: 0.5s;
  }

  .footerNav {
    margin: 30px 0;
  }

  .footerBottom {
    background-color: #000;
    padding: 20px;
    text-align: center;
  }
  .footerBottom p {
    color: white;
  }

  @media (max-width: 700px) {
    .footerNav ul {
      flex-direction: column;
    }
    .footerNav ul li {
      width: 100%;
      text-align: center;
      margin: 10px;
    }
    .socialIcons a {
      padding: 8px;
      margin: 4px;
    }
  }

  .skill-container {
    width: 300px;
    height: 450px;
    perspective: 800px;
  }

  @media screen and (max-width: 680px) {
    .skill-container {
      width: 250px;
      height: 400px;
    }

    .back-text {
      font-size: 15px !important;
    }

    .back-skill {
      font-size: 25px !important;
      margin-top: 20px !important ;
    }
  }

  @media screen and (max-width: 550px) {
    .skill-container {
      width: 250px;
      height: 400px;
    }

    .back-text {
      font-size: 15px !important;
    }

    .back-skill {
      font-size: 25px !important;
      margin-top: 20px !important ;
    }
  }

  .skill-container:hover > .skill {
    cursor: pointer;
    transform: rotateY(180deg);
  }

  .skill {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
  }

  .back-title {
    font-weight: bold;
    color: white;
    font-size: 30px;
  }

  .back-title-desc {
    color: rgb(209 213 219);
    font-size: 15px;
    font-style: italic;
  }

  .back-text {
    color: white;
    font-size: 18px;
    margin-top: 10px;
  }

  .back-skill {
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin-top: 40px;
    width: 100%;
    text-align: center;
  }

  .front,
  .back {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
  }

  .front1 {
    background-image: linear-gradient(to right, #162766, #467ffc);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .back1 {
    background-image: linear-gradient(to right, #162766, #467ffc);
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    padding: 40px 20px 20px;
  }

  .front2 {
    background-image: linear-gradient(to right, #840000, #ff8550);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .back2 {
    background-image: linear-gradient(to right, #840000, #ff8550);
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    padding: 40px 20px 20px;
  }

  .front3 {
    background-image: linear-gradient(to right, #356e9e, #f7cd43);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .back3 {
    background-image: linear-gradient(to right, #356e9e, #f7cd43);
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    padding: 40px 20px 20px;
  }

  .front4 {
    background-image: linear-gradient(to right, #0f6b96, #00eaea);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .back4 {
    background-image: linear-gradient(to right, #0f6b96, #00eaea);
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    padding: 40px 20px 20px;
  }

  .project-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid rgba(237, 237, 237, 0.6); */
    flex-wrap: wrap;
    margin: 10px;
  }

  .project-filter li {
    margin: 10px;
    padding: 8px 20px;
    color: #9b9b9b;
    font-size: 1rem;
    letter-spacing: 0.5px;
    font-weight: 400;
    cursor: pointer;
    user-select: none;
  }

  .project-filter-active {
    padding: 8px 20px;
    border: none;
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(to right, rgb(59 130 246), rgb(168 85 247));
    border-image-slice: 1;
    color: white !important;
  }

  .project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1600px;
  }

  .project-box {
    width: 330px;
    max-height: 210px;
    /* padding: 15px; */
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0)
    );
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
  }

  @media screen and (max-width: 375px) {
    .project-box {
      width: 275px;
    }
  }

  .project-box img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
  }

  .project-box video {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
  }

  .project-box-title {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  :root {
    --white: #fff;
    --black: #323135;
    --crystal: #a8dadd;
    --columbia-blue: #cee9e4;
    --beauty-blue: rgb(59 130 246);
    --poopy-purple: rgb(168 85 247);
    --graygray: rgb(75, 85, 99);
    --yellow: #e5f33d;
    --timeline-gradient: rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0) 100%;
  }

  .timeline {
    position: relative;
    white-space: nowrap;
    max-width: 1400px;
    padding: 0 10px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 320px auto;
    grid-gap: 20px;
  }

  @media screen and (max-width: 400px) {
    .timeline {
      overflow-x: hidden;
    }
  }

  @media screen and (max-width: 802px) {
    .timeline {
      grid-template-columns: auto;
    }
  }

  .timeline::before,
  .timeline::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 30px;
    width: 100px;
    z-index: 2;
  }

  .timeline .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px;
    color: var(--white);
    white-space: normal;
    border-radius: 10px;
  }

  .timeline .info img {
    margin-bottom: 20px;
  }

  .timeline .info p {
    margin-top: 10px;
    color: var(--white);
  }

  .timeline .info a {
    text-decoration: none;
  }

  .timeline ol::-webkit-scrollbar {
    height: 12px;
  }

  .timeline ol::-webkit-scrollbar-thumb,
  .timeline ol::-webkit-scrollbar-track {
    border-radius: 92px;
  }

  .timeline ol::-webkit-scrollbar-thumb {
    background-image: linear-gradient(
      to right,
      rgb(59 130 246),
      rgb(168 85 247)
    );
  }

  .timeline ol::-webkit-scrollbar-track {
    background-color: rgb(232, 232, 232);
  }

  .timeline ol {
    font-size: 0;
    padding: 250px 0;
    transition: all 1s;
    overflow-x: auto !important;
    overflow-y: hidden;
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0)
    );
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 20px 20px 10px 10px;
    scroll-snap-type: x mandatory;
    margin-bottom: 50px;
  }

  .ol-bro {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    word-break: break-word !important;
  }

  .timeline ol li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    width: 168px;
    height: 5px;
    background: var(--graygray);
    scroll-snap-align: start;
  }

  .timeline ol li:last-child {
    width: 340px;
  }

  .timeline ol li:not(:first-child) {
    margin-left: 14px;
  }

  .timeline ol li:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(100% + 1px);
    bottom: 0;
    width: 19px;
    height: 19px;
    transform: translateY(-50%);
    border-radius: 50%;
    border: 5px solid rgb(75, 85, 99);
    background: var(--white);
    z-index: 1;
  }

  .timeline ol li div {
    position: absolute;
    left: calc(100% + 7px);
    width: 280px;
    padding: 15px;
    font-size: 1rem;
    white-space: normal;
    color: var(--black);
    background: var(--white);
    border-radius: 0 10px 10px 10px;
  }

  @media screen and (max-width: 400px) {
    .timeline ol li div {
      font-size: 0.8rem;
    }
  }

  .timeline ol li div::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
  }

  .timeline ol li:nth-child(odd) div {
    top: -16px;
    transform: translateY(-100%);
    border-radius: 10px 10px 10px 0;
  }

  .timeline ol li:nth-child(odd) div::before {
    top: 100%;
    border-width: 8px 8px 0 0;
    border-color: var(--white) transparent transparent transparent;
  }

  .timeline ol li:nth-child(even) div {
    top: calc(100% + 16px);
  }

  .timeline ol li:nth-child(even) div::before {
    top: -8px;
    border-width: 8px 0 0 8px;
    border-color: transparent transparent transparent var(--white);
  }

  .timeline time {
    display: block;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 8px;
    color: var(--midnight-green);
  }
}
